
.footerContainer{
    display: flex;
    justify-content: space-between;
    font-family: "Manrope", sans-serif;
    padding: 26px 150px 40px 150px;
    margin-top: 3rem;
}

.myEmailResume{
    border-bottom: 1px solid #1877F2;
    color: black;
    text-decoration: none;
}

.hello{
    color: black;
}

.contactMe{
    line-height: 2rem;
    font-size: 20px;
}

.contactDetails{
    margin-bottom: 20px;
}


.contactDetailsContainer{
    width: 48%;
}

.formContainer{
    width: 48%;
}

label{
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: black;
}

input{
    margin-bottom: 24px;
    height: 51px;
}

input, textarea{
    width: 100%;
    background-color: #1877F2;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    text-indent: 10px;
    transition: background-color 0.3s;
}

label::after{
    content: "*";
    color: red;
    padding:  3px;
}

textarea{
    padding: 5px;
}

input:focus, textarea:focus{
    outline: 2px solid rgb(113, 113, 235);
    /* outline-color: #C7C7C7; */
}

input:hover, textarea:hover{
    /* background-color: #8db5eb; */
    background-color: transparent;
    outline: 2px solid rgb(113, 113, 235);
    color: black;
}

label, input, textarea{
    font-size: 16px;
}

button{
    padding: 10px 55px;
    color: #1877F2;
    outline: none;
    border: 1px solid #1877F2;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
}

button:hover{
    background-color: #8db5eb;
    color: white;
    cursor: pointer;
    
}