.logo{
    /* font-family: "Bebas Neue", sans-serif; */
    font-size: 50px;
    display: flex;
    color: #5F9DF7;
    align-items: center;
    font-weight: 800;
    /* background-color: green; */
    
}

.logoContainer{
  
}

.logoDiv{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    /* background-color: yellow; */
}

.logoDiv img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}