.navContainer{
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(188, 175, 245);
    padding: 0 30px;
    margin-bottom: 5rem;
}

nav{
    /* background-color: blue; */
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.navLink{
    text-decoration: none;
}