.navContainer{
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
    align-items: center;
}

nav{
    /* background-color: blue; */
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.navLink{
    text-decoration: none;
}