.navContainer{
    display: flex;
    background-color: #181D50;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(189, 168, 168);
    padding: 0 30px;
    margin-bottom: 5rem;
}

nav{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.navLink{
    text-decoration: none;
    color: #FFF7E9;
}